/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (min-width: 600px) {
	.wp-block-latest-posts.is-grid li {
		margin: 0 50px 50px 0;
	}

	.wp-block-latest-posts.columns-2 li {
		width: calc(50% - 50px);
	}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768.1px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.menu-toggle {
		display: none;
	}
	#primary-nav-menu,
	#site-navigation > #primary-menu {
		display: block;
	}
	#mobile-nav-menu,
	#site-navigation > #mobile-menu,
	#mobile-menu-sidebar {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

// Very large devices

@media (max-width: 1599.98px) {
	.woocommerce-account .yith-proteo-my-account-user-image .user-photo img {
		max-width: 80px;
	}
}

// Large devices (desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
	body.woocommerce-cart .cart-collaterals .cart_totals {
		padding: 50px 0 50px 30px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.has-post-thumbnail header.entry-header .date-and-thumbnail .entry-meta {
		font-size: 0.875rem;
	}
	header.entry-header .date-and-thumbnail time.published {
		width: 110px;
		padding: 10px 10px;
	}
}

/* Iphone X Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.hidden-xs {
		display: none !important;
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.site-header.sticky {
		position: absolute;
	}

	#site-navigation {
		float: right;
	}
	.site-header.center_logo_navigation_below .header-sidebar {
		text-align: initial;
	}
	.site-header .header-sidebar {
		margin-top: 30px;
	}
	#primary-nav-menu {
		display: none;
	}
	#mobile-nav-menu {
		display: block;
	}
	body.admin-bar #site-navigation.toggled .menu-toggle {
		right: 30px;
	}
	.main-navigation > div {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		left: -100px;
		height: 100vh;
		background: #ffffff;
		width: 100vw;
		padding: 50px 30px;
		z-index: 100;
		overflow-y: scroll;
		margin-top: -15px;
	}

	.main-navigation.toggled {
		& > div {
			opacity: 1;
			visibility: visible;
			left: 0;
		}

		ul.nav-menu li.menu-item-has-children {
			& > ul {
				display: none;
			}

			a.submenu-opened + ul {
				display: block;
			}
		}

		&.mobile-menu-align-left li {
			margin-right: auto;
		}
		&.mobile-menu-align-right li {
			margin-left: auto;
		}
		&.mobile-menu-align-center li {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.main-navigation a {
		color: var(--proteo-mobile_menu_color, var(--proteo-header_menu_color, #404040));
	}
	.main-navigation a:hover {
		color: var(--proteo-mobile_menu_hover_color, var(--proteo-header_menu_hover_color, #448a85));
	}

	.header-contents {
		&.left-toggle {
			.site-branding {
				margin-left: 45px;
				max-width: 60%;
			}
			.menu-toggle {
				left: 15px;
			}
			.header-sidebar {
				float: right;
				margin-right: 15px;
				margin-top: 10px;
			}
		}

		&.right-toggle {
			.site-branding {
				max-width: 60%;
			}
			.header-sidebar {
				float: right;
				margin-right: 60px;
				margin-top: 20px;
			}
		}
	}

	.site-header .header-sidebar {
		white-space: normal;
		text-align: initial;
	}

	.single-product .woocommerce-tabs ul.tabs li a {
		font-size: 1.125rem;
		margin-right: 15px;
	}
	.single-product div.product .summary.entry-summary {
		padding-left: 50px;
	}

	body.woocommerce-cart.two-cols-cart {
		.cart-collaterals {
			width: auto;
			display: block;
			float: none;
			margin-left: -30px;
			margin-right: -30px;
			clear: both;

			.cart_totals {
				max-width: none;
				padding: 50px 30px 50px 30px;

				&:after {
					display: none;
				}
			}
		}

		form.woocommerce-cart-form {
			width: 100%;
			padding: 0;
		}
	}

	.woocommerce-account {
		.yith-proteo-my-account-sidebar,
		.woocommerce-MyAccount-content {
			float: none;
			width: 100%;
			padding: 0;
		}
		.yith-proteo-my-account-user-image {
			margin-bottom: 10px;
		}
		.yith-proteo-my-account-user-image:before,
		.woocommerce-MyAccount-navigation:before {
			left: 0;
		}
		.woocommerce-MyAccount-navigation {
			padding: 0;
			margin-bottom: 35px;
			&:before {
				display: none;
			}
		}
		.woocommerce-MyAccount-navigation-link {
			margin-bottom: 10px;

			& > a {
				background-color: #f9f9f9;
			}
			&:not(.is-active) > a:after {
				content: "\e876";
				font-family: Linearicons-Free;
				speak: none;
				font-style: normal;
				font-variant: normal;
				text-transform: none;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				float: right;
			}
		}
	}

	#main-footer .side-by-side-sidebars div[class^="footer-sidebar"] {
		display: block;
		width: 100%;
	}

	.col-lg-20 {
		width: 100%;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
	.hidden-xs {
		display: none !important;
	}

	.container {
		padding-right: 30px;
		padding-left: 30px;
	}

	.site-branding img.custom-logo {
		max-width: 90%;
	}
	.single-product div.product .woocommerce-product-gallery,
	.single-product div.product .summary.entry-summary {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	ul.products li.product,
	ul.products li.wc-block-grid__product,
	.wc-block-grid ul.wc-block-grid__products li.product,
	.wc-block-grid ul.wc-block-grid__products li.wc-block-grid__product {
		width: 50%;
		float: left;

		&:nth-child(2n + 1) {
			clear: both;
		}
	}

	table.shop_table_responsive tbody tr td,
	table.shop_table_responsive thead tr th {
		border: none !important;
		padding: 20px 5px;

		.quantity input {
			max-width: 70px;
		}
	}
	table.shop_table_responsive tbody tr td,
	table.shop_table_responsive thead tr th {
		&.product-remove,
		&.product-thumbnail {
			display: none;
		}
		&.product-name {
			text-align: initial;
		}
	}
	body.woocommerce-cart .cart-collaterals .cart_totals {
		width: 100%;
		float: none;
		max-width: initial;
		padding: 50px 0;
		text-align: right;

		&:after {
			left: -50%;
		}
	}

	body.woocommerce-checkout #customer_details {
		width: 100%;
		float: none;
		margin-bottom: 50px;
	}
	body.woocommerce-checkout #order_review {
		float: none;
		width: 100%;
		padding: 0;
	}

	.woocommerce-account #customer_login.col2-set.u-columns .col-1,
	.woocommerce-account #customer_login.col2-set.u-columns .col-2 {
		width: 100%;
		float: none;
	}

	.woocommerce-account #customer_login.col2-set.u-columns .col-2 form.register:before {
		display: none;
	}

	.widget_shopping_cart .yith-proteo-mini-cart-content {
		display: none !important;
	}

	// Mobile typography
	.site-branding .site-title {
		font-size: var(--proteo-mobile_site_title_font_size, 38px);
	}
	.site-branding .site-description, 
	.site-branding.tagline-position-right .site-description {
		font-size: var(--proteo-mobile_tagline_font_size, 11px);
		display: block;
	}
	body,
	button,
	input,
	select,
	optgroup,
	textarea,
	body.yith-woocompare-popup {
		font-size: var(--proteo-mobile_base_font_size, 13px);
	}
	#topbar {
		font-size: var(--proteo-mobile_topbar_font_size, 16px);
	}
	.main-navigation.toggled ul.nav-menu {
		font-size: var(--proteo-mobile_menu_font_size, 16px);
	}
	h1,
	article.page header.entry-header h1,
	article:not(.has-post-thumbnail).page header.entry-header h1 {
		font-size: var(--proteo-mobile_h1_font_size, 56px);
	}
	h2 {
		font-size: var(--proteo-mobile_h2_font_size, 32px);
	}
	h3 {
		font-size: var(--proteo-mobile_h3_font_size, 15px);
	}
	h4 {
		font-size: var(--proteo-mobile_h4_font_size, 13px);
	}
	h5 {
		font-size: var(--proteo-mobile_h5_font_size, 10px);
	}
	h6 {
		font-size: var(--proteo-mobile_h6_font_size, 9px);
	}
	#main-footer {
		font-size: var(--proteo-mobile_footer_font_size, 13px);
	}
	#main-footer .site-info {
		font-size: var(--proteo-mobile_footer_credits_font_size, 13px);
	}
	.single-product div.product .summary.entry-summary .woocommerce-product-details__short-description p,
	.single-product .woocommerce-tabs .panel,
	.single-product .woocommerce-tabs ul.tabs li a {
		font-size: 1rem;
	}
}

@media (max-width: 600px) {
	#site-navigation {
		.menu-toggle {
			position: absolute;
		}

		&.toggled {
			.menu-toggle {
				position: fixed;
			}
		}
	}

	table.cart,
	table.shop_table {
		font-size: 0.875rem;
	}
	table.shop_table_responsive thead {
		display: none;
	}

	table.shop_table_responsive tbody tr {
		position: relative;
		display: block;
		border-bottom: 1px solid #c5c5c5;

		&:last-of-type {
			border-bottom: none;
		}

		td {
			display: block;
			text-align: right;
			clear: both;
			padding: 15px 5px;

			&.product-name {
				text-align: right;
			}
			&.product-remove,
			&.product-thumbnail {
				display: initial;
			}
			&.product-thumbnail {
				text-align: center;
			}
			&.product-remove {
				position: absolute;
				right: 0;
				top: 0;
				padding: 0;
			}
			&.product-subtotal {
				padding-right: 5px;
			}
			.quantity {
				margin-right: 10px;
			}
		}
		td[data-title]::before {
			content: attr(data-title) ": ";
			font-weight: 600;
			float: left;
			display: table;
		}
	}
	.wp-block-column {
		margin-bottom: 35px;
	}

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
