#main-footer {
    padding-top: 80px;
    position: relative;

    .site-info {
        padding: 15px 0;
    }

    div[class^="footer-sidebar"] {
        padding-bottom: 50px;

        .widget {
            h2 {
                margin-bottom: 2rem;
            }
        }
    }
}