/**
 * Cart
 */
body.woocommerce-cart {
	.site-content {
		overflow-x: hidden;
	}
	&.two-cols-cart {
		form.woocommerce-cart-form {
			width: 60%;
			display: inline-block;
			box-sizing: border-box;
			float: left;
			padding-right: 30px;
			margin-bottom: 35px;
		}

		.cart-collaterals {
			width: 40%;
			display: inline-block;
			box-sizing: border-box;
			float: left;
			margin-bottom: 35px;

			.cart_totals {
				width: 100%;
			}
		}
	}

	.cart-collaterals {
		.cart_totals {
			width: 50%;
			float: right;
			max-width: 500px;
			background: #f4f4f4;
			padding: 50px 0 50px 100px;
			position: relative;

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 3000px;
				background: inherit;
				z-index: -1;
			}

			h2 {
				display: none;
			}

			table {
				margin-bottom: 50px;

				td,
				th {
					border: none;
					padding: 15px 0;
					font-size: 1rem;

					li,
					p {
						font-size: inherit;
					}
				}

				th {
					font-weight: bold;
					text-align: right;
				}

				td {
					text-align: right;
					font-weight: normal;
				}

				tr.order-total {
					color: var(--proteo-main_color_shade, $color__accent);
					font-size: 1.125rem;

					td,
					th,
					* {
						font-weight: bold;
						font-size: inherit;
					}
				}

				#shipping_method,
				.woocommerce-shipping-destination {
					font-size: 0.875rem;
					line-height: normal;
					padding-left: 50px;

					.amount {
						font-weight: normal;
					}
					li {
						text-align: right;
					}
				}

				.woocommerce-shipping-destination {
					margin: 5px 0;
				}

				form.woocommerce-shipping-calculator {
					font-size: 0.875em;
				}

				.shipping-calculator-form {
					padding-left: 10%;
					p {
						padding-right: 0;
						line-height: normal;
						text-align: initial;
					}

					button[type="submit"] {
						float: right;
						margin-right: 0;
					}
				}
			}

			.wc-proceed-to-checkout {
				text-align: center;

				a.checkout-button {
					color: #ffffff;
					text-transform: uppercase;
					font-size: 1.25rem;
					font-weight: bold;
					text-align: center;
					padding: 1.25rem;
					vertical-align: middle;
					display: block;
					width: 100%;
				}
			}
		}
	}

	.variation dt {
		font-weight: 700;
		font-size: .875em;
	}
	.variation dd {
		font-size: 0.875em;
		margin: 0 0 1em;
	}
}
