/**
 * Single Product
 */
.single-product {
	div.product {
		.single-product-layout-cols {
			clear: both;
			margin-bottom: 100px;
			position: relative;

			&:after {
				content: "";
				display: block;
				clear: both;
			}
		}
		.woocommerce-breadcrumb {
			text-align: initial;
		}

		.woocommerce-breadcrumb + h1 {
			margin-top: 0;
		}

		.woocommerce-product-gallery {
			position: relative;
			width: 40%;
			float: left;
			display: inline-block;
			margin: 1.5em 0 0;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				left: 1em;
				display: block;
				z-index: 99;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				border-radius: 30px;
				background: #ffffff;
				filter: saturate(0);
				text-decoration: none;

				img {
					margin: 0 auto;
					display: block;
				}
			}

			.flex-viewport {
				margin-bottom: 2.7rem;
				height: auto !important;
			}

			.flex-control-thumbs {
				margin: 0 -15px;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					float: left;
					font-size: 0;
					padding: 0 15px 15px;

					img {
						opacity: 0.5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						li {
							@include column-width($i);

							&:nth-child(#{$i}n) {
								margin-right: 0;
							}

							&:nth-child(#{$i}n + 1) {
								clear: both;
							}
						}
					}
				}
			}

			figure {
				margin-top: 0;
			}
		}

		.summary.entry-summary {
			width: 60%;
			float: left;
			display: inline-block;
			padding-left: 90px;

			.product_title {
				margin-bottom: 0.4em;
				font-size: var(--proteo-single_product_title_font_size, 70px);
				color: var(--proteo-single_product_title_font_color, #404040);
			}

			.woocommerce-product-rating {
				margin-bottom: 30px;

				.star-rating,
				.woocommerce-review-link {
					display: inline-block;
					margin: 0 15px 15px 0;
					vertical-align: middle;
				}
			}

			.price {
				font-size: var(--proteo-single_product_price_font_size, 2.1875rem);
				color: var(--proteo-single_product_price_color, var(--proteo-main_color_shade, $color__accent));
				margin: 0 0 30px;

				del {
					font-size: 0.8em;
					margin-right: 5px;
				}

				ins {
					background: none;
					color: inherit;
				}
			}

			.woocommerce-product-details__short-description {
				p {
					margin-top: 0;
					font-size: 1.25rem;
					line-height: 1.8;
				}
			}

			form.cart {
				margin-bottom: 30px;

				.quantity {
					max-width: 100px;

					&.hidden {
						display: none;
					}

					input {
						font-size: var(--proteo-single_product_quantity_input_font_size, 2.5rem);
					}

					span.product-qty-arrows span {
						padding: 5px 0;
					}
				}
			}

			button[type="submit"] {
				margin-bottom: 15px;
				margin-right: 15px;
				text-transform: uppercase;
				font-size: var(--proteo-single_product_add_to_cart_button_font_size, 1.25rem);
				font-weight: bold;
				text-align: center;
				padding: 0.9375rem 2.8125rem;
				vertical-align: middle;
			}

			form.variations_form {
				table.variations {
					margin-bottom: 40px;

					tr > td {
						padding-bottom: 45px;
						text-transform: uppercase;
						font-size: 0.9375rem;
						font-weight: 500;
						position: relative;

						&.label {
							width: 1px;
							padding-right: 35px;
							white-space: nowrap;
						}

						.select2-container {
							min-width: 50%;
						}

						a.reset_variations {
							position: absolute;
							bottom: 5px;
							left: 0;
						}

						.select_box {
							&:after {
								display: none;
							}

							.select_option {
								.yith_wccl_value {
									min-width: 30px;
									height: 30px;
								}

								.yith-wccl-bicolor {
									border-bottom: 26px solid;
									border-left: 26px solid;
								}
							}
						}
					}
				}
			}

			.yith-wapo-addon-type-select {
				.select2-container {
					min-width: 50%;
				}
			}

			.product_meta {
				> span {
					margin-bottom: 30px;
					color: #9d9d9d;
					font-size: 0.8125rem;
					display: block;
					text-transform: uppercase;
				}
			}

			.single_variation_wrap {
				.woocommerce-variation-description {
					font-size: 1.25rem;
					line-height: 1.8;
				}

				.woocommerce-variation-price {
					margin-bottom: 30px;
				}
			}
		}
	}

	/**
 * Tabs
 */
	.woocommerce-tabs {
		display: block;

		ul.tabs {
			list-style: none;
			margin: 0;
			padding: 0 30px 0 0;
			text-align: left;
			border-bottom: 4px solid #f2f2f2;

			li {
				display: inline-block;
				margin: 0;
				position: relative;
				white-space: nowrap;
				color: var(--proteo-single_product_tabs_title_color, #1f1f1f);

				a {
					padding: 0.9375rem 0;
					display: block;
					font-size: var( --proteo-single_product_tabs_title_font_size, 30px );
					font-weight: bold;
					text-decoration: none;
					margin-right: 45px;
					color: inherit;
					margin-bottom: -4px;
					border-bottom: 4px solid transparent;
					opacity: 0.5;
				}

				&.active {
					a {
						color: inherit;
						opacity: 1;
						border-bottom: 4px solid var(--proteo-single_product_tabs_title_color, #1f1f1f);
					}
				}
			}
		}

		.panel {
			display: block;
			margin: 0;
			padding: 35px 0 50px;
			border-bottom: 4px solid #f2f2f2;
			font-size: var( --proteo-single_product_tabs_content_font_size , 16px);
			line-height: 1.8;

			h2:first-of-type {
				margin-bottom: 1em;
				margin-top: 0;
			}

			.woocommerce-Reviews-title {
				display: none;
			}

			table.shop_attributes {
				th {
					text-align: left;
					width: 1px;
					vertical-align: top;
					padding-right: 35px;
				}

				td {
					vertical-align: top;

					p {
						margin-top: 0;
					}
				}
			}
		}
	}

	.related.products {
		padding-top: 50px;

		h2 {
			text-align: center;
			margin-bottom: 50px;
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}

/**
Reviews
 */

#reviews .commentlist {
	list-style-type: none;

	li.review,
	li.comment {
		position: relative;
		margin-bottom: 35px;
		font-size: 1rem;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		.comment_container {
			img.avatar {
				float: left;
				margin: 0 30px 30px 0;
			}

			.comment-text {
				float: left;

				p {
					font-size: 1rem;
					line-height: normal;
				}
			}
		}
	}
}

#review_form_wrapper {
	font-size: 1rem;

	.comment-reply-title {
		font-size: 1.25rem;
		line-height: 1.8;
		font-weight: 600;
	}

	form {
		p {
			font-size: 1rem;
			line-height: normal;
		}
	}
}
