/**
 * Shop tables
 */

table.shop_table_responsive {
	thead {
		//display: none;
	}

	tbody {
		th {
			//display: none;
		}
	}

	tr {
		td {
			//display: block;
			text-align: right;
			clear: both;

			&.product-remove {
				text-align: left;
				width: 30px;
				padding-left: 0;
				padding-right: 0;

				a.remove {
					text-decoration: none;
					color: #c7c7c7;
					display: inline-block;
					vertical-align: middle;
					font-size: 30px;
					opacity: 1;

					&:hover {
						color: #32373c;
					}
				}

				&:before {
					display: none;
				}
			}

			&.actions,
			&.download-actions {
				&:before {
					display: none;
				}
			}

			&.download-actions {
				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

table.cart,
table.shop_table {
	border-spacing: 0;
	font-size: 1rem;

	th,
	thead th {
		font-size: 1.125em;
		background: transparent;
		padding: 15px 15px;
		vertical-align: top;

		&.product-subtotal {
			text-align: right;
			padding-right: 0;
		}
	}

	tbody,
	tfoot {
		tr {
			td {
				padding: 30px 15px;
				border-width: 0 0 1px 0;
				border-color: #cccccc;
				border-style: solid;
			}

			td.product-thumbnail {
				width: 60px;

				a {
					display: block;
					line-height: 0;
				}

				img {
					max-width: 60px;
				}
			}

			td.product-name {
				a {
					font-size: 1em;
					color: inherit;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			td.product-subtotal {
				text-align: right;
				padding-right: 0;
			}

			td.actions {
				padding: 35px 0;
				border-bottom: none;

				.coupon {
					float: left;
					text-align: initial;
					display: inline-block;
					font-size: 0.8125rem;

					label {
						display: block;
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 15px;
					}

					input {
						font-size: 0.875rem;
						font-family: inherit;
						min-width: 230px;
						outline: none;
						margin-bottom: 15px;
						margin-right: 15px;
					}

					button {
						border: 2px solid;
						text-transform: uppercase;
						font-weight: bold;
						padding: 0.5rem 1rem;
						line-height: normal;
						border-color: var(--proteo-main_color_shade, $color__accent);
						color: var(--proteo-main_color_shade, $color__accent);
						background-color: transparent;
						font-size: 0.875rem;

						&:hover {
							background-color: var(--proteo-main_color_shade, $color__accent);
							color: #ffffff;
						}
					}
				}

				button[name="update_cart"] {
					float: right;
					margin-right: 0;

					&:before {
						font: normal 1.2em Linearicons-Free;
						content: "\e862";
						top: 3px;
						position: relative;
						margin-right: 5px;
						line-height: 0;
					}
				}
			}

			&:first-child {
				td {
					border-top: 1px solid #cccccc;
				}
			}

			&.shipping {
				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;

					label {
						font-weight: bold;
						cursor: pointer;
					}
				}
			}
		}
	}
}
body.update-cart-button-style table.cart tbody tr td.actions button[name=update_cart] {
	margin-right: 0;
}
