/* Error: expected ")".
 *    ,
 * 48 |     background: linear-gradient(180deg, var(--proteo-button_2_bg_color_1, #00a79c) 0%, var(--proteo-button_2_bg_color_2,, #01af8d ) 100%);
 *    |                                                                                                                         ^
 *    '
 *   ..\sass\forms\_buttons.scss 48:118  @import
 *   ..\sass\forms\_forms.scss 1:9       @import
 *   ..\sass\style.scss 75:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 48 \2502      background: linear-gradient(180deg, var(--proteo-button_2_bg_color_1, #00a79c) 0%, var(--proteo-button_2_bg_color_2,, #01af8d ) 100%);\a    \2502                                                                                                                          ^\a    \2575 \a   ..\\sass\\forms\\_buttons.scss 48:118  @import\a   ..\\sass\\forms\\_forms.scss 1:9       @import\a   ..\\sass\\style.scss 75:9             root stylesheet';
}
