body,
button,
optgroup,
body.yith-woocompare-popup {
	color: var(--proteo-base_font_color, #404040);
	font-family: $font__main;
	font-size: var(--proteo-base_font_size, 16);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
