/* SHORTCODES */
.yith-wcaf {
	/* REGISTRATION FORM */
	&.yith-wcaf-registration-form {
		.col2-set.u-columns {
			.col-1,
			.col-2 {
				width: 50%;
				float: left;
				max-width: initial;
				position: relative;
			}

			form {
				margin-bottom: 35px;
				position: relative;
			}
		}
	}

	/* LINK GENERATOR */
	&.yith-wcaf-link-generator {
		.yith-wcaf-share {
			ul {
				margin: 0 -5px;

				li {
					padding: 0 5px;

					a {
						color: inherit;
						text-decoration: none;

						&:hover {
							color: $color__accent;
						}
					}
				}
			}
		}
	}

	&.yith-wcaf-link-generator,
	&.yith-wcaf-dashboard .yith-wcaf-dashboard-payments #withdraw_modal,
	&.yith-wcaf-dashboard .yith-wcaf-dashboard-settings {
		p.form-row {
			padding-left: 0;
			padding-right: 0;
		}

		p.form-row-first {
			padding-right: 15px;
		}

		p.form-row-last {
			padding-left: 15px;
		}

		p.form-row.woocommerce-invalid {
			color: $woocommerce__color-error;
		}

		small {
			line-height: 1.5;
		}
	}

	.yith-wcaf-table-top-bar {
		.table-filters,
		.table-options {
			input[type="text"],
			input[type="number"] {
				padding: 13px 10px;
			}
		}
	}
}

/* DATEPICKER */
.yith-wcaf-datepicker.ui-datepicker {
	.ui-datepicker-header .ui-datepicker-title {
		font-size: 1.2em;
	}

	.ui-datepicker-buttonpane {
		button {
			background: none;
			border: 1px solid $color__accent;
			color: $color__accent;
			border-radius: 50px;
			padding: 0 10px;
			margin: 0 3px;
			text-transform: uppercase;
			font-size: 0.7rem;
			line-height: 1.5rem;

			&:hover {
				color: #fff;
				background: $color__accent;
			}
		}

		button:last-child {
			margin-right: 0;
		}
	}
}
