ul, ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	padding: 0;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
	font-size: 0.875em;
}

dd, .entry-content dd {
	margin: 0 1.5em 1em;
	p, p:not([class^=has]) {
		font-size: 0.875em;
		line-height: 1.5;
		margin: 0;
	}
}
