a {
    color: $color__link;


    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
