.pagination, .woocommerce-pagination {
    padding: 0;
    text-align: center;
    clear: both;
    margin: 0 0 1em 0;

    .page-numbers {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;


            .page-numbers {
                border-left-width: 0;
                display: inline-block;
                padding: 5px 13px;
                background-color: rgba(0, 0, 0, .025);
                color: #6d6d6d;
                text-decoration: none;

                &.current {
                    background-color: #e6e6e6;
                    color: #636363;
                }

                &.next,
                &.prev {
                    padding: 5px 9px;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }

}