.alignleft {
    display: inline;
    float: left;
    margin-right: 30px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 30px;
}

.aligncenter {
    clear: both;
    @include center-block;
}

body .wp-block-image .alignleft {
    float: left;
    margin-right: 30px;
}

body .wp-block-image .alignright {
    float: right;
    margin-left: 30px;
}

@media only screen and (min-width: 768px) {

    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }

    .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }

    .alignwide img,
    .alignfull img {
        display: block;
        margin: 0 auto;
    }
}
