.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 3.125rem;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

header.entry-header {
    text-align: center;

    .woocommerce-breadcrumb {
        text-align: center;
        margin-bottom: 35px;
    }

    .date-and-thumbnail {
        text-align: initial;
        position: relative;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .post-thumbnail {
            text-align: inherit;
        }

        time.published {
            word-spacing: 100px;
            display: block;
            width: 120px;
            background: $color__accent;
            word-break: keep-all;
            color: #ffffff;
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
            padding: 40px 15px;
            overflow-wrap: break-word;
        }
    }

    .entry-title {
        font-size: 1.875rem;
        text-align: initial;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $color__accent;
            }
        }
    }

    .entry-meta {
        text-align: initial;
        font-size: 0.875rem;
        color: #939393;
        font-weight: 500;

        & > span {
            border-left: 1px solid;
            margin-left: 10px;
            padding-left: 10px;

            &:first-child {
                border-left: none;
                margin-left: 0;
                padding-left: 0;
            }
        }

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: $color__accent;
            }
        }
    }
}

article.page header.entry-header,
article:not(.has-post-thumbnail).page header.entry-header {
    text-align: center;
    display: block;

    h1 {
        margin-top: 0;
        display: block;
        text-align: center;
    }
}

.has-post-thumbnail header.entry-header .date-and-thumbnail .entry-meta {
    position: absolute;
}


article:not(.has-post-thumbnail) {
    header.entry-header {
        text-align: initial;

        .date-and-thumbnail, .entry-title {
            display: inline-block;
        }

        .date-and-thumbnail {
            margin-bottom: 25px;
            margin-right: 15px;
        }
    }
}

.entry-content {

    p:not([class^="has"]),
    li:not(.product) {
        font-size: 1.25rem;
        line-height: 2.375rem;
    }
}

article.post .entry-content {
    &:before {
        content: '';
        display: block;
        width: 150px;
        height: 1px;
        border-top: 1px solid #707070;
    }
}

.site-content {
    padding-top: 50px;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-footer {
    text-align: initial;
    font-size: 0.875rem;
    color: #939393;
    font-weight: 500;

    & > span {
        border-left: 1px solid;
        margin-left: 10px;
        padding-left: 10px;

        &:first-child {
            border-left: none;
            margin-left: 0;
            padding-left: 0;
        }
    }
}

.more-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    display: block;

    &:hover {
        text-decoration: underline;
    }
}


/**
404 page
 */

body.error404 {
    #primary {
        width: 100%;
    }

    .page-content {
        text-align: center;
    }

    section.not-found {
        header {
            text-align: center;
            margin-bottom: 100px;
        }

        .search-form {
            display: flex;
            display: -webkit-flex;
            flex-flow: row nowrap;
            -webkit-flex-flow: row nowrap;
            align-items: stretch;
            -webkit-align-items: stretch;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-bottom: 100px;

            label {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                width: 70%;

                input.search-field {
                    width: 100%;
                    margin-bottom: 0;
                    min-height: 42px;
                }
            }

            input[type="submit"] {
                display: inline-block;
                width: 30%;
                text-align: center;
            }
        }
    }
}

/**
Search results
 */

body.search-results {
    article.type-product {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        align-items: stretch;
        -webkit-align-items: stretch;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        margin-bottom: 50px;


        .product-image, .product-info {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            padding: 10px;
            width: 100%;
        }

        .product-image {
            max-width: 300px;
            padding-right: 25px;

            a {
                font-size: 0;
                display: block;
            }
        }

        a {
            text-decoration: none;
        }

        .product-info {
            .product-title {
                display: block;
                font-size: 1.125rem;
                line-height: normal;
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 500;
            }

            .amount {
                font-size: 1.125rem;
                font-weight: 600;
                opacity: 0.7;
            }

            del .amount {
                font-size: 1rem;
                margin-right: 5px;
            }

            ins {
                background: none;
            }

            .star-rating {
                margin-bottom: 5px;
            }

            .widget-product-short-description {
                margin-top: 10px;
                font-size: 0.875rem;
            }
        }
    }

    article:not(.type-product) {

        &.has-post-thumbnail {


            display: flex;
            display: -webkit-flex;
            flex-flow: row nowrap;
            -webkit-flex-flow: row nowrap;
            align-items: stretch;
            -webkit-align-items: stretch;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            margin-bottom: 50px;

            .search-result-article-image, .search-result-article-content {
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                padding: 10px;
                width: 100%;
            }

            .search-result-article-image {
                max-width: 300px;
                padding-right: 25px;
            }
        }

        header.entry-header {
            text-align: initial;
        }
    }
}
