.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

header.entry-header {
	text-align: initial;

	.woocommerce-breadcrumb {
		text-align: inherit;
		margin-bottom: 35px;
	}

	.date-and-thumbnail {
		text-align: initial;
		position: relative;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		.post-thumbnail {
			text-align: inherit;
		}

		time.published {
			word-spacing: 100px;
			display: block;
			width: 120px;
			background: var(--proteo-main_color_shade, $color__accent);
			word-break: keep-all;
			color: #ffffff;
			text-align: center;
			font-weight: bolder;
			text-transform: uppercase;
			padding: 40px 15px;
			overflow-wrap: break-word;
		}
	}

	.entry-title {
		font-size: 1.875rem;
		text-align: initial;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: var(--proteo-general_link_color, $color__accent);
			}
		}
	}
}

body.blog {
	header.page-header {
		text-align: var( --proteo-page_title_align );
	}
}

header .entry-meta {
	text-align: initial;
	font-size: 0.875rem;
	color: #939393;
	font-weight: 500;

	& > span {
		border-left: 1px solid;
		margin-left: 10px;
		padding-left: 10px;

		&:first-child {
			border-left: none;
			margin-left: 0;
			padding-left: 0;
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: var(--proteo-general_link_color, $color__accent);
		}
	}
}

body.single-post {
	header.entry-header {
		text-align: var( --proteo-page_title_align );
	}

	header .entry-meta {
		text-align: var( --proteo-page_title_align );
	}
	header .entry-title {
		text-align: var( --proteo-page_title_align );
	}
}

.post-has-thumbnail .entry-meta {
	position: absolute;
}

body.single-post.proteo_post_layout_background_picture {
	header.alignfull {
		background-color: var(--proteo-post_thumbnail_background_color, $color__accent);
		min-height: 560px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin-top: -50px;

		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: var(--proteo-post_thumbnail_background_color_opacity, 0.7);
			pointer-events: none;
			background-color: var(--proteo-post_thumbnail_background_color, $color__accent);
		}

		.single-post-header-content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: var(--proteo-page_title_align);
			left: 0;
			right: 0;
			color: var(--proteo-post_thumbnail_text_color, #ffffff);

			.entry-title,
			.entry-meta {
				color: var(--proteo-post_thumbnail_text_color, #ffffff);
				text-align: inherit;
			}
		}
	}
}

body.single-post.proteo_post_layout_fullwidth_cover_image {

	header.entry-header {
		margin-bottom: 80px;
		text-align: center;

		.date-and-thumbnail {
			position: relative;
			z-index: 1;
			max-width: 70%;
			margin: 0 auto 3.125rem;
			margin-bottom: -180px;
			z-index: -1;
	
			&:after {
				content: "";
				display: block;
				left: -50px;
				right: -50px;
				bottom: 0;
				height: 200px;
				position: absolute;
				background: var(--proteo-site_background_color, #ffffff);
				z-index: 2;
			}

			.post-thumbnail {
				margin-left: calc(50% - 50vw);
				margin-right: calc(50% - 50vw);
				width: auto;
				max-width: 1000%;
				position: relative;
				z-index: 2;
				text-align: center;
		
				img {
					max-width: 100vw;
				}
			}
		}

		.woocommerce-breadcrumb,
		.entry-title,
		.entry-meta {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
			text-align: inherit;
		}

		& + .row {
			max-width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

	}
	.entry-content:before {
		display: none;
	}

	
	
}

body.page header.entry-header,
article:not(.has-post-thumbnail).page header.entry-header {
	text-align: var(--proteo-page_title_align, center);
	display: block;

	h1 {
		font-size: var(--proteo-h1_font_size, 4.375rem);
		color: var(--proteo-h1_font_color, #404040);
		display: block;
		text-align: var(--proteo-page_title_align, center);
		margin: var(--proteo-page_title_spacing);
	}

	.lnr {
		font-size: var(--proteo-h1_font_size, 4.375rem);
		color: var(--proteo-h1_font_color, #404040);
		text-align: var(--proteo-page_title_align, center);
	}
}

.has-post-thumbnail header.entry-header .date-and-thumbnail .entry-meta {
	position: absolute;
}

article:not(.has-post-thumbnail) {
	header.entry-header {

		.date-and-thumbnail,
		.entry-title {
			display: inline-block;
		}

		.date-and-thumbnail {
			.entry-meta {
				margin-right: 15px;
				margin-bottom: 25px;
			}
		}
	}
}



.entry-content {
	p:not([class^="has"]),
	li:not(.product):not(.wc-block-grid__product) {
		line-height: 1.8;
	}
}

.site-content {
	padding: var(--proteo-site_content_spacing);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	text-align: initial;
	font-size: 0.875rem;
	color: #939393;
	font-weight: 500;

	& > span {
		border-left: 1px solid;
		margin-left: 10px;
		padding-left: 10px;

		&:first-child {
			border-left: none;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

.more-link {
	margin-top: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 600;
	display: block;

	&:hover {
		text-decoration: underline;
	}
}

/**
404 page
 */

body.error404 {
	#primary {
		width: 100%;
	}

	.page-content {
		text-align: center;
	}

	section.not-found {
		header {
			text-align: center;
			margin-bottom: 100px;
		}

		.search-form {
			display: flex;
			display: -webkit-flex;
			flex-flow: row nowrap;
			-webkit-flex-flow: row nowrap;
			align-items: stretch;
			-webkit-align-items: stretch;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			margin-bottom: 100px;

			label {
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				-webkit-flex-direction: column;
				width: 70%;
				padding: 0 15px 15px;

				input.search-field {
					width: 100%;
					margin-bottom: 0;
					min-height: 42px;
				}
			}

			input[type="submit"] {
				display: inline-block;
				width: 30%;
				text-align: center;
			}
		}
	}
}

/**
Search results
 */

body.search-results {
	article.type-product {
		display: flex;
		display: -webkit-flex;
		flex-flow: row nowrap;
		-webkit-flex-flow: row nowrap;
		align-items: stretch;
		-webkit-align-items: stretch;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		margin-bottom: 50px;

		.product-image,
		.product-info {
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column;
			padding: 10px;
			width: 100%;
		}

		.product-image {
			max-width: 300px;
			padding-right: 25px;

			a {
				font-size: 0;
				display: block;
			}
		}

		a {
			text-decoration: none;
		}

		.product-info {
			.product-title {
				display: block;
				font-size: 1.125rem;
				line-height: normal;
				margin-top: 0;
				margin-bottom: 5px;
				font-weight: 500;
			}

			.amount {
				font-size: 1.125rem;
				font-weight: 600;
				opacity: 0.7;
			}

			del .amount {
				font-size: 1rem;
				margin-right: 5px;
			}

			ins {
				background: none;
			}

			.star-rating {
				margin-bottom: 5px;
			}

			.widget-product-short-description {
				margin-top: 10px;
				font-size: 0.875rem;
			}
		}
	}

	article:not(.type-product) {
		&.has-post-thumbnail {
			display: flex;
			display: -webkit-flex;
			flex-flow: row nowrap;
			-webkit-flex-flow: row nowrap;
			align-items: stretch;
			-webkit-align-items: stretch;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			margin-bottom: 50px;

			.search-result-article-image,
			.search-result-article-content {
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				-webkit-flex-direction: column;
				padding: 10px;
				width: 100%;
			}

			.search-result-article-image {
				max-width: 300px;
				padding-right: 25px;
			}
		}

		header.entry-header {
			text-align: initial;
		}
	}
}

.wp-block-latest-posts li > a {
	display: block;
}

.wp-block-latest-posts__post-author,
.wp-block-latest-posts__post-date {
	display: inline-block;
}

.wp-block-latest-posts__post-author + .wp-block-latest-posts__post-date {
	margin-left: 5px;

	&:before {
		content: "|";
		margin-right: 5px;
	}
}
